# Standard Devation Analysis

In [18]:
#Libaries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [19]:
import yfinance as yf
yf.pdr_override()

In [34]:
stock = 'BA'
start = '2018-01-01' 
end = '2020-12-31'
df = pdr.get_data_yahoo(stock, start, end)

[*********************100%***********************]  1 of 1 completed

In [ ]:
# Analysis Data

In [35]:
df.head() # the first 5 rows

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-02,295.750000,296.989990,295.399994,296.839996,282.886383,2978900
2018-01-03,295.940002,298.500000,295.470001,297.799988,283.801239,3211200
2018-01-04,297.940002,298.420013,295.470001,296.670013,282.724396,4171700
2018-01-05,296.769989,308.890015,296.720001,308.839996,294.322296,6177700
2018-01-08,308.660004,310.859985,305.750000,310.149994,295.570740,4124900

In [36]:
df.tail() # the last 5 rows

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-23,219.550003,224.399994,219.320007,219.690002,219.690002,10869000
2020-12-24,219.619995,219.880005,216.050003,217.149994,217.149994,6398500
2020-12-28,218.190002,219.199997,215.160004,216.089996,216.089996,9090600
2020-12-29,218.300003,221.679993,215.399994,216.250000,216.250000,14593800
2020-12-30,216.360001,218.550003,214.369995,216.669998,216.669998,10812600

In [37]:
df.shape # (rows, columns)

(755, 6)

In [38]:
df.columns # Shows names of columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [10]:
df.dtypes # Shows data types

High         float64
Low          float64
Open         float64
Close        float64
Volume       float64
Adj Close    float64
dtype: object

In [39]:
df.info() # Shows information about DataFrame

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 755 entries, 2018-01-02 to 2020-12-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       755 non-null    float64
 1   High       755 non-null    float64
 2   Low        755 non-null    float64
 3   Close      755 non-null    float64
 4   Adj Close  755 non-null    float64
 5   Volume     755 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 41.3 KB

In [27]:
df.describe() # Shows BA summary statistics based on stock data(2018-2020)

,Open,High,Low,Close,Adj Close,Volume
count,503.000000,503.000000,503.000000,503.000000,503.000000,5.030000e+02
mean,354.812127,358.812347,350.640179,354.881113,345.356760,4.917473e+06
std,23.457377,23.212859,23.748332,23.485997,24.374717,3.457729e+06
min,295.750000,296.989990,292.470001,294.160004,282.724396,1.390900e+06
25%,339.684998,343.300003,335.329987,339.694992,328.345978,3.061200e+06
50%,353.040009,356.440002,350.470001,353.350006,343.108063,4.124000e+06
75%,368.514999,371.570007,364.264999,368.389999,360.154099,5.463100e+06
max,446.010010,446.010010,440.190002,440.619995,430.299988,3.692260e+07

# Understand the Data based on Statistics

We will be using "Adj. Closing" price to find the minimum, maximum, average and standard deviation prices. The reason we are using "Adj. Closing" because is mostly use for historical returns. Also, the Adjusting Prices is change where the stock was accounts for the dividend and splits. However, the "Closing" price was not including with dividend and splits.

In [30]:
# Use only Adj. Closing
# Find the minimum
df['Adj Close'].min()

282.7243957519531

In [31]:
# Find the maximum
df['Adj Close'].max()

430.29998779296875

In [32]:
# Find the average
df['Adj Close'].mean()

345.3567604383465

In [33]:
# Find the standard deviation
df['Adj Close'].std()

24.374716643951047